.hourly-temperature_section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98.5%;
    max-height: 16rem;
    background: rgba(225, 225, 225, 0.1);
    margin: 1rem 0.6rem;
    /* overflow-x: scroll; */
}


.hourly-dataList {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
    padding: 1rem 0.5rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -moz-box-shadow: -22px 0 24px 0 rgba(0, 0, 0, 0.278) inset;
    -webkit-box-shadow: -22px 0 24px 0 rgba(0, 0, 0, 0.278) inset;
    box-shadow: -22px 0 24px 0 rgba(0, 0, 0, 0.278) inset;
    border-radius: inherit;
}

.hourly-dataList li {
    position: relative;
    list-style: none;
    padding: 0.3rem 0.5rem;
}

.hourly-dataList li:not(:last-child) {
    border-right: 2px solid #aaaaaa63;
}


.hourly-dataList::-webkit-scrollbar {
    height: 0.3rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.hourly-dataList::-webkit-scrollbar-track {
    background-color: transparent;
}

.hourly-dataList::-webkit-scrollbar-thumb {
    background-color: #5a7e8e;
    border-radius: 14px;
}

.hourly-dataList::-webkit-scrollbar-thumb:hover {
    background-color: #80a6b6;
}