.temp-conditions_detail-section {
    background: #23344d;
    /* background: #e1e1e11a; */
    padding: 1rem;
    border-radius: 14px;
    align-items: center;
    width: 50rem;
    min-height: 29rem;
}

.temp-conditions_container {
    position: relative;
    width: 100%;
    min-height: 20rem;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-template-rows: 5rem;
    padding: 2.5rem 2rem;
}

.temp-conditions_detail-section .temp-conditions_container {
    padding: 2.5rem 2rem .5rem 2rem;
}


