.wrapper-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(225, 225, 225, 0.1);
    width: 30rem;
    min-height: 29rem;
    /* padding: 1rem; */
    margin: -1rem 0.5rem 0.5rem 0.5rem;
    /* border-radius: 14px; */
}



